{% extends 'catalog/includes/base.html' %}
{% load my_tags %}

{% block context %}
    <div class="col-12 mb-5">
    <a class="btn btn-lg btn-block btn-outline-primary" href="{% url 'blog:create' %}">Добавить материал</a>
    </div>
        {% for object in object_list %}
            <div class="col-3">
                <div class="card mb-4 box-shadow">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">Информация</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">{{ object.title }}</h1>
                        <h3 class="card-text">{{ object.content|stringformat:".12s" }}</h3>
                        <img class="card-img-top" src="{{ object.preview|mediapath }}"
                        alt=""/>
                        <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                        </ul>
                        <div class="col-12 mb-5">
                        <a class="btn btn-lg btn-block btn-outline-primary" href="{% url 'blog:view' object.pk %}">Просмотр</a>
                        </div>
                        {% if object.sign_of_publication %}
                            <a class="btn btn-warning" href="{% url 'blog:toggle' object.pk %}">Деактивировать</a>
                        {% else %}
                            <a class="btn btn-success" href="{% url 'blog:toggle' object.pk %}">Активировать</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
{% endblock %}