{% extends 'main/base.html'%}

{% block context %}
{% for object in object_list %}
        <div class="col-3">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Выберите категорию</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">{{ object|title }}</h1>
                    <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                    </ul>
                    <a href="{% url 'categories_product' object.pk %}" type="button" class="btn btn-lg btn-block btn-outline-primary">Выбрать</a>
                </div>
            </div>
        </div>
        {% endfor %}
{% endblock %}
