{% extends 'catalog/includes/base.html' %}
{% load my_tags %}
{% block context %}
    <div class="col-12">
        <div class="row">
            <div class="col-6">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">
                            Информация
                        </h3>
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <tr>
                                <td>Продукт</td>
                                <td>{{ object.name }}</td>
                            </tr>
                            <tr>
                                <td>Описание</td>
                                <td>{{ object.description }}</td>
                            </tr>
                            <tr>
                                <td>Цена</td>
                                <td>{{ object.price }}</td>
                            </tr>
                        </table>
                    </div>
                    <div class="card-footer">
                        <span class="text-muted">{{ object.owner|default:"Не привязано к пользователю" }}</span><br>
                    </div>
                    {% if perms.catalog.change_product %}
                        <div class="btn-group">
                             <a href="{% url 'update_product' object.pk %}" class="btn btn-primary active" aria-current="page">Редактировать</a>
                    {% endif %}
                    {% if perms.catalog.delete_product %}
                             <a href="{% url 'delete_product' object.pk %}" class="btn btn-danger">Удалить</a>
                        </div>
                    {% endif %}
                </div>
            </div>

            <div class="col-6">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">
                            Изображение продукта
                        </h5>
                    </div>
                    <div class="card-body">
                        <img class="card-img-top" src="{{ object.image|mediapath }}"
                            alt=""/>
                    </div>
                    <div class="card-footer"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}