{% extends 'catalog/includes/base.html' %}

{% block context %}
    <div class="col-12">
        <form class="row" method="post" enctype="multipart/form-data">
            <div class="col-4">
                <div class="card">
                    <div class="card-body">
                        {% if not user.is_authenticated %}
                            Данная запись доступна только зарегистрированным пользователям, войдите или
                            зарегистрируйтесь.
                        {% else %}
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button type="submit" class="btn btn-success">
                                {% if object %}
                                    Изменить
                                {% else %}
                                    Создать
                                {% endif %}
                            </button>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">
                            Версия
                        </h3>
                    </div>
                    <div class="card-body">
                        {{ formset.management_form }}
                        {% for form in formset.forms %}
                            {{ form.as_p }}
                            {% if not forloop.last %}
                                <hr>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}